.logo {
    margin-top: 0;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    ;
}

.logo-header {
    color: #212121;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.logo-footer {
    color: var(--main-color);
}